@model WebApplication.Models.Television
@{
     ViewBag.Title = "Удаление телевизора";
}

<div>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Возраст</dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>Цена</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="button" value="Удалить" />
            </div>
        </form>
    </div>
</div>