@model IEnumerable<HelloWorld.Models.Pig>
@{
    ViewData["Title"] = "Список Свиней";
}

		
<h3>Свиньи</h3>
 
<table class="table-condensed">
    <tr>
        <td>Имя</td>
        <td>Фермер</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var Pig in Model)
        {
        <tr>
            <td>@Pig.Name</td>
            <td>@Pig.Author</td>
            <td>@Pig.Price</td>
           <!-- <td><a href="~/Home/Buy/@Pig.Id">Купить</a></td>-->
         <!--  <td> <a asp-action="Delete" asp-controller="PigApi" asp-route-id="@Pig.Id" >Удалить</a></td>-->
           <td>
               <form action="~/Pigs/Delete/@Pig.Id" method="GET" >
                  <button>Удалить</button>
           
               </form>
            </td>
            <td>
               <form action="./Pigs/Edit/@Pig.Id" method="GET" >
                  <button>Изменить</button>
           
               </form>
            </td>
        </tr>
    }
   
</table>
 <p><form action="~/Pigs/Create" method="GET"  >
                  <button>Добавить свинью</button>
           
               </form></p>
             